* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 99vw;
    background-color: #1a2332;
    padding: 0 80px;
    flex-wrap: wrap;
}

.top-header-1-component, 
.top-header-2-component, 
.top-header-3-component, 
.user-dashboard {
    display: flex;
    align-items: center;
    padding: 5px;
}

.top-header-1-component img, 
.top-header-2-component img {
    height: 28px;
}

.top-header-1-component p, 
.top-header-2-component p, 
.top-header-3-component a {
    font-size: 1rem;
    color: white;
    transition: color 0.8s;
}

.top-header-1-component p:hover,
.top-header-2-component p:hover,
.top-header-3-component a:hover {
    color: #39cabb;
}

.top-header-3-component {
    gap: 10px;
}

.top-header-3-component a {
    text-decoration: none;
}

.user-dashboard {
    background-color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
}

.temporary-user-page {
    display: block;
    position: fixed;
    right: -1000px;
    height: 400px;
    width: 280px;
    background-color: #1a2332;
    z-index: 10;
    transition: 0.2s ease-in-out;
    animation: shadow-drop-2-center 0.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-center {
    0% {
        transform: translateZ(0);
        box-shadow: 0 0 0 0 rgb(103, 194, 230);
    }
    100% {
        transform: translateZ(50px);
        box-shadow: 0 0 20px 0px rgb(103, 194, 230);
    }
}

.temporary-user-page.active {   
    border-radius: 12px;
    top: 14%;
    position: fixed;
    z-index: 11;
    right: 1%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99vw;
    padding: 1px 100px;
}
.main-header.active {
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: white;
    border: 2px solid #39cabb;
    animation: slideInFromTop 0.5s ease-in-out;
}
@keyframes slideInFromTop {
    0% {
        
        transform: translateY(-100%);
    }
    100% {
        
        transform: translateY(0);
    }
}
.main-header img {
    width: 150px;
}

.header-anchor-tags {
    display: flex;
    gap: 30px;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-size: larger;
}

.header-anchor-tags a {
    text-decoration: none;
    color: #1a2332;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.header-anchor-tags a:hover {
    color: #39cabb;
}

.header-anchor-tags a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #39cabb;
    transition: width 0.3s ease, left 0.3s ease;
}

.header-anchor-tags a:hover::after {
    width: 100%;
    left: 0;
}

.menu-page {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
.menu-page.active {
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: white;
    border: 2px solid #39cabb;
    animation: slideInFromTop 0.5s ease-in-out;
}
.menu-page img {
    height: 50px;
}

.menu-page #logo {
    width: auto;
}

.menu-page #threeline {
    height: 30px;
    cursor: pointer;
}

.threeline-page {
    display: flex;
    flex-direction: column;
    gap: 6%; 
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-size: larger;
    position: fixed;
    right: -1000px;
    height: 450px;
    width: 250px;
    background-color: #1a2332;
    z-index: 10;
    transition: 0.2s ease-in-out;
}

.threeline-page a {
    margin-left: 5%;
    padding-top: 7px;
    margin-top: 5%; 
    text-decoration: none;
    height: 40px;
    text-align: center;
    width: 120px;
    border-radius: 20px;
    color: #39cabb;
    transition: 0.4s ease-in-out;
}
.threeline-page a:hover {
    background-color: #39cabb;
    color: #1a2332;
}
.threeline-page.active {   
    border-radius: 12px;
    top: 13%;
    position: fixed;
    z-index: 11;
    right: 1%;
    text-decoration: none;
}

.image-slider {
    width: 99vw;
    overflow: hidden;
}

.slides {
    display: flex;
    object-fit: cover;
    transition: transform 1s ease-in-out;
    width: 99vw;
}

.slides img {
    width: 100vw;
    object-fit: cover;
    flex-shrink: 0;
}

.top-category {
    position: relative;
    height: 250px;
    width: 99vw;
}

.top-category img {
    height: 250px;
    width: 99vw;
    object-fit: cover;
}

.top-category-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(97, 166, 221, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}
.doctor-category {
    display: grid;
    width: 99vw;
    height: auto;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 3%;
    padding: 100px; 
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-size: larger;
    
}

.clinic-container, 
.cardiology-container, 
.dentist-container, 
.optometrist-container, 
.veterinary-container, 
.orthopedic-container, 
.surgery-container, 
.skindoctor-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0f2f1;
    border-radius: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.clinic-container img, 
.cardiology-container img,
.dentist-container img, 
.optometrist-container img,
.veterinary-container img,
.orthopedic-container img,
.surgery-container img, 
.skindoctor-container img {
    max-width: 80%;
    max-height: 80%;
}

.clinic-container h3, 
.cardiology-container h3,
.dentist-container h3, 
.optometrist-container h3, 
.veterinary-container h3,
.orthopedic-container h3,
.surgery-container h3, 
.skindoctor-container h3 {
    color: #39cabb;
    text-align: center;
    margin-top: 10px;
}
.clinic-container:hover,
.cardiology-container:hover,
.dentist-container:hover,
.optometrist-container:hover,
.veterinary-container:hover,
.orthopedic-container:hover,
.surgery-container:hover,
.skindoctor-container:hover {
    transform: scale(1.05);
    background-color: #39cabb;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.clinic-container:hover h3,
.cardiology-container:hover h3,
.dentist-container:hover h3,
.optometrist-container:hover h3,
.veterinary-container:hover h3,
.orthopedic-container:hover h3,
.surgery-container:hover h3,
.skindoctor-container:hover h3 {
    color: #1a2332; 
}

.clinic-container:hover img,
.cardiology-container:hover img,
.dentist-container:hover img,
.optometrist-container:hover img,
.veterinary-container:hover img,
.orthopedic-container:hover img,
.surgery-container:hover img,
.skindoctor-container:hover img {
    transform: scale(1.1); 
    transition: transform 0.5s ease-in-out;
}
.doctor-quality {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 3%;
    width: 99vw;
}

.medical-counselling, 
.professional-services, 
.twentyfour-service, 
.qualified-medical-facilities, 
.top-level-doctors, 
.dedicated-pateint-care {
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    margin-left: 10%;
}

.medical-counselling h2, 
.professional-services h2, 
.twentyfour-service h2, 
.qualified-medical-facilities h2, 
.top-level-doctors h2, 
.dedicated-pateint-care h2 {
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
}

.medical-counselling p, 
.professional-services p, 
.twentyfour-service p, 
.qualified-medical-facilities p, 
.top-level-doctors p, 
.dedicated-pateint-care p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: rgba(128, 128, 128, 0.829);
    margin-left: 10%;
}
.doctorsimage
{
    height: auto;
    width: 99vw;
}
.doctorsimage #doctorsimage
{
    margin-left: 10%;
    width: 80vw;
}
.doctor-service
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    width: 65vw;
    margin-left: 20%;
    gap: 1%;
    
}
.heartrate, 
.medicalcounseling, 
.qualifieddoctors, 
.emergencyservice
{
    background-color: #2ccebe2f;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 250px;
    width: auto;
    padding: 2px;
    border-radius: 4%;
}
.heartrate img, 
.medicalcounseling img, 
.qualifieddoctors img, 
.emergencyservice img
{
    height: 50px;
    width: 50px;
}
.heartrate h2,
.medicalcounseling h2,
.qualifieddoctors h2, 
.emergencyservice h2
{
    font-size: 15px;
    color: #1a2332;
}
.heartrate p,
.medicalcounseling p,
.qualifieddoctors p, 
.emergencyservice p
{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #39cabb;
    margin-left: 10%;
}
.contact-support-dept
{
    margin-top: 1px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    width: 99vw;
    height: auto;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    gap: 5%; 
    background-color: #F7F7F7;
}
.address, 
.hotline, 
.email-contact, 
.website
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100px;
    
}
.address span, 
.hotline span, 
.email-contact span, 
.website span
{
    color: #39cabb;
    font-size: 30px;
    font-weight: 400;
}
.address h2, 
.hotline h2, 
.email-contact h2, 
.website h2
{
    color: #1a2332;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    margin-top: 3%;
}
.address p, 
.hotline p, 
.email-contact p, 
.website p
{
    color: #1a2332;
    font-family: "Poppins", sans-serif;
    font-weight: 400; 
}
.footer
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    width: 99vw;
    height: 400px;
    background-color: #212121;
    
}
.latest-tweet
{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.293);
}
.latest-tweet h3
{
    margin-left: 20%;
    margin-top: 15%;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.latest-tweet p
{
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: #6C7D7C;
    margin-left: 20%;
    margin-top: 2%;
}
.latest-tweet #first-tweet
{
    margin-top: 8%;
}
.latest-tweet span
{
    color: #39cabb;
}
.healhub
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #6C7D7C;
    border: 1px solid rgba(255, 255, 255, 0.293);
}
.healhub img
{
    height: 80px;
}
.healhub p
{
    font-size: 13px;
    text-align: center;
    margin-top: 3%;
}
.social-icons
{
    margin-top: 2%;
}
.social-icons i
{
    padding-left: 6%;
    padding-top: 6%;
    background-color: rgba(0, 0, 0, 0.348);
    border-radius: 50%;
    font-size: 20px;
    height: 33px;
    width: 33px;
}
.healhub h3
{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.register-mail
{
    margin-top: 3%;
}
.register-mail input
{
    padding-left: 5%;
    width: 300px;
    color: white;
    height: 30px;
    border: 1px solid #464646;
    background-color: #2B2B2B;
    font-family: "Poppins", sans-serif;
}
.register-mail button
{
    width: 80px;
    height: 30px;
    border: 1px solid #464646;
    background-color: #2B2B2B;
    font-family: "Poppins", sans-serif;
}
.patientguide-opening
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.patientguide
{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: auto;
    width: 200px;
}
.patientguide h3
{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
}
.patientguide-anchortags
{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10%;
}
.patientguide-anchortags a
{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 12px;
    margin-top: 3%;
    color: #6C7D7C;
}
.openinghours
{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 5%;
}
.openinghours h3
{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
}
.openinghours p
{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin-top: 3%;
    color: #6C7D7C;
}
@media (max-width: 1200px) {
    .top-header{
        width: 99vw;
    }

    .top-header-1-component {
        margin-left: 1%;
    }

    .top-header-3-component {
        margin-left: 10%;
    }
    .user-dashboard{
        margin-left: 0;
    }
    .main-header {
        width: 99vw;
        justify-content: space-between;
    }
    .main-header img {
        width: 150px;
    }

    .header-anchor-tags {
        flex-direction: row;
        gap: 30px;
    }

    .menu-page {
        display: none;
    }
    .image-slider{
        width: 99vw;
    }
    .top-category{
        width: 99vw;
    }
    .doctor-category
    {   width: 99vw;
        font-size: medium;
    }

    .doctor-quality {
        grid-template-columns: repeat(3, 1fr);
        padding: 3%;
        width: 99vw;
    }

    .medical-counselling, 
    .professional-services, 
    .twentyfour-service, 
    .qualified-medical-facilities, 
    .top-level-doctors, 
    .dedicated-pateint-care {
        height: auto;
        width: auto;
    }
    .doctor-service{
        width: 95vw;
        margin-left: 2%;
    }
    .heartrate, 
    .medicalcounseling, 
    .qualifieddoctors, 
    .emergencyservice
    {
    height: 200px;
    width: auto;
    padding: 2px;
    }
    .heartrate img, 
    .medicalcounseling img, 
    .qualifieddoctors img, 
    .emergencyservice img
    {
        height: 45px;
        width: 45px;
    }
    .address span, 
    .hotline span, 
    .email-contact span, 
    .website span
    {
        color: #39cabb;
        font-size: 35px;
        font-weight: 600;
    }
    .address h2, 
    .hotline h2, 
    .email-contact h2, 
    .website h2
    {
        color: #1a2332;
        font-family: "Crimson Text", serif;
        font-size: 20px;
        font-weight: 600;
        margin-top: 3%;
    }
    .address p, 
    .hotline p, 
    .email-contact p, 
    .website p
    {   
        color: #1a2332;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    .latest-tweet h3
    {
        margin-left: 10%;        
    }
    .latest-tweet p
    {
        margin-top: 0px;
        margin-left: 5%;
        font-size: 11px;
        padding: 5%;
    }
    .healhub p
    {
        padding: 2%;
        font-size: 10px;
    }
    .register-mail input
    {
        width: 150px;
    }
}

@media (max-width: 992px) {
    .top-header {
        padding: 0 10px;
        width: 99vw;
    }
    .top-header-1-component p {
        font-size: 14px;
    }
    .top-header-2-component p {
        font-size: 14px;
    }

    .top-header-3-component a {
        font-size: 14px;
    }
    .user-dashboard{
        margin-left: 0;
    }
    .main-header {
        flex-direction: row;
        justify-content: space-between;
        padding: 5 20px;
        width: 99vw;
    }
    .main-header img {
        width: 134px;
    }
    .header-anchor-tags {
        flex-direction: row;
        gap: 20px;
    }
    
    .top-category img
    {
        position: relative;
        height: 150px;
        width: 99vw;
    }
    .top-category-heading
    {
        top: 30%;
    }
    .doctor-category {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto); 
        gap: 10px;
    }
    .doctor-quality {
        grid-template-columns: repeat(2, 1fr);
        padding: 3%;
    }
    .medical-counselling, 
    .professional-services, 
    .twentyfour-service, 
    .qualified-medical-facilities, 
    .top-level-doctors, 
    .dedicated-pateint-care {
        height: auto;
        width: auto;
        font-size: 1rem;
    }
    .contact-support-dept
    {
        padding: 5%;
    }
}

@media (max-width: 768px) {
    .top-header{
        width: 100vw;
    }
    .menu-page{
        width: 100vw;
        
    }
    .image-slider{
        width: 100vw;
    }
    .top-category{
        width: 100vw;
    }
    .top-category img
    {
        width: 100vw;
    }
    .top-header-1-component,
    .top-header-2-component 
    {
        margin-left: 10px;
    }
    .top-header-1-component p,
    .top-header-2-component p
    {
        font-size: small;
    }
    .top-header-3-component {
        display: none;
    }

    .main-header {
        display: none;
        flex-direction: column;
        gap: 15px;
    }
    .main-header img {
        width: 130px;
    }

    .header-anchor-tags {
        flex-direction: column;
        gap: 15px;
    }

    .menu-page {
        display: flex;
    }
    .threeline-page.active {   
        border-radius: 12px;
        top: 13%;
        position: fixed;
        z-index: 11;
        right: 1%;
        text-decoration: none;
    }
    .threeline-page {
        display: flex;
        flex-direction: column;
        gap: 5%; 
        font-family: "Crimson Text", serif;
        font-weight: 700;
        font-size: medium;
        position: fixed;
        right: -1000px;
        height: 280px;
        width: 100px;
        background-color: #1a2332;
        z-index: 10;
        transition: 0.2s ease-in-out;
    }
    .threeline-page a {
        margin-left: 5%;
        padding-top: 3px;
        margin-top: 5%; 
        text-decoration: none;
        height: 30px;
        text-align: center;
        width: 80px;
        border-radius: 20px;
        color: #39cabb;
        transition: 0.4s ease-in-out;
    }
    .top-category{
        height: 150px;
    }
    .top-category-heading{
        top: 50%;
    }
    .doctor-category {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto); 
        gap: 10px;
        width: 100vw;
        padding: 10%;
    }
	
    .doctor-quality {
        grid-template-columns: 1fr 1fr;
        padding: 3%;
        width: 100vw;
    }

    .medical-counselling, 
    .professional-services, 
    .twentyfour-service, 
    .qualified-medical-facilities, 
    .top-level-doctors, 
    .dedicated-pateint-care {
        height: 120px;
        width: auto;
        padding: 10px;
    }

    .medical-counselling h2, 
    .professional-services h2, 
    .twentyfour-service h2, 
    .qualified-medical-facilities h2, 
    .top-level-doctors h2, 
    .dedicated-pateint-care h2 {
        font-size: 0.9rem;
    }

    .medical-counselling p, 
    .professional-services p, 
    .twentyfour-service p, 
    .qualified-medical-facilities p, 
    .top-level-doctors p, 
    .dedicated-pateint-care p {
        font-size: 0.6rem;
    }
    .doctorsimage #doctorsimage
    {
        margin-left: 0%;
        width: 100vw;
        
    }
    .doctor-service{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100vw;
        margin-left: 0%;
        
    }
    .heartrate, 
    .medicalcounseling, 
    .qualifieddoctors, 
    .emergencyservice
    {
    height: 200px;
    width: auto;
    padding: 2px;
    }
    .heartrate img, 
    .medicalcounseling img, 
    .qualifieddoctors img, 
    .emergencyservice img
    {
        height: 45px;
        width: 45px;
    }
    .address span, 
    .hotline span, 
    .email-contact span, 
    .website span
    {
        color: #39cabb;
        font-size: 30px;
        font-weight: 400;
    }
    .address h2, 
    .hotline h2, 
    .email-contact h2, 
    .website h2
    {
        color: #1a2332;
        font-family: "Crimson Text", serif;
        font-size: 15px;
        font-weight: 700;
        margin-top: 3%;
    }
    .address p, 
    .hotline p, 
    .email-contact p, 
    .website p
    {   
        color: #1a2332;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 11px;
    }
    .latest-tweet h3
    {
        margin-top: 25%;
    }
    .latest-tweet p
    {
        font-size: 10px;
    }
    .healhub img
    {
        height: 70px;
    }
    .healhub p
    {
        font-size: 10px;
    }
    .healhub #line
    {
        font-size: 7px;
    }
    .healhub h3
    {
        margin-top: 3%;
        font-size: 14px;
    }
    .register-mail input
    {
        width: 120px;
        font-size: 10px;
    }
    .register-mail button
    {
        width: 60px;
        font-size: 10px;
    }
    .patientguide h3
    {
        font-size: 17px;
    }
    .patientguide-anchortags a
    {
        font-size: 12px;
    }
    .openinghours h3
    {
        font-size: 17px;
    }
    .openinghours p
    {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .top-header {
        height: auto;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .top-header-1-component p,
    .top-header-2-component p
    {
        font-size: small;
    }

    .top-header-1-component,
    .top-header-2-component {
        width: 100%;
        justify-content: center;
    }

    .top-header-3-component {
        display: none;
    }

    .temporary-user-page.active {   
        border-radius: 12px;
        top: 20%;
        position: fixed;
        z-index: 11;
        right: 1%;
    }

    .main-header {
        flex-direction: column;
        gap: 10px;
        display: none;
    }

    .main-header img {
        width: 120px;
    }
    .menu-page{
        width: 100vw;
    }

    .header-anchor-tags {
        flex-direction: column;
        gap: 10px;
    }

    .menu-page {
        display: flex;
    }
    .threeline-page.active {   
        border-radius: 12px;
        top: 19%;
        position: fixed;
        z-index: 11;
        right: 1%;
        text-decoration: none;
    }
    .threeline-page {
        display: flex;
        flex-direction: column;
        gap: 5%; 
        font-family: "Crimson Text", serif;
        font-weight: 700;
        font-size: medium;
        position: fixed;
        right: -1000px;
        height: 280px;
        width: 100px;
        background-color: #1a2332;
        z-index: 10;
        transition: 0.2s ease-in-out;
    }
    .threeline-page a {
        margin-left: 5%;
        padding-top: 3px;
        margin-top: 5%; 
        text-decoration: none;
        height: 30px;
        text-align: center;
        width: 80px;
        border-radius: 20px;
        color: #39cabb;
        transition: 0.4s ease-in-out;
    }
    .image-slider{
        width: 100vw;
    }
    
    .top-category {
        position: relative;
        height: 150px;
        width: 100vw;
    }
    
    .top-category img {
        height: 150px;
        width: 100vw;
        object-fit: cover;
    }
    .top-category-heading
    {
        top: 50%;
    }
     .doctor-category {    
        padding: 10px; 
        font-size: 0.7rem;
    }
    .medical-counselling, 
    .professional-services, 
    .twentyfour-service, 
    .qualified-medical-facilities, 
    .top-level-doctors, 
    .dedicated-pateint-care {
        height: auto;
        width: auto;
        padding: 0px;
    }

    .medical-counselling h2, 
    .professional-services h2, 
    .twentyfour-service h2, 
    .qualified-medical-facilities h2, 
    .top-level-doctors h2, 
    .dedicated-pateint-care h2 {
        font-size: 0.6rem;
    }

    .medical-counselling p, 
    .professional-services p, 
    .twentyfour-service p, 
    .qualified-medical-facilities p, 
    .top-level-doctors p, 
    .dedicated-pateint-care p {
        font-size: 0.5rem;
    }
    .doctorsimage #doctorsimage
    {
        margin-left: 0%;
        width: 97vw;
    }
    .doctor-service{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        width: 85vw;
        margin-left: 9%;
        height: auto;
    }
    .heartrate, 
    .medicalcounseling, 
    .qualifieddoctors, 
    .emergencyservice
    {
    height: 180px;
    width: auto;
    padding: 2px;
    }
    .heartrate img, 
    .medicalcounseling img, 
    .qualifieddoctors img, 
    .emergencyservice img
    {
        height: 45px;
        width: 45px;
    }
    .contact-support-dept{
        margin-top: 6%;
        height: auto;
        width: 99vw;
        display: flex;
        justify-content: center;
    }
    .contact-support-dept span
    {
        font-size: 16px;        
    }
    .hotline{
        display: none;
    }
    .contact-support-dept h2
    {
        display: none;
    }
    .contact-support-dept p
    {
        font-size: 8px;
    }
    .footer
    {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
        height: auto;
    }
    .latest-tweet,.patientguide-opening,.healhub
    {
        border: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
